$blue:    #9ccef0;
$purple:  #9b59b6;
$navy:    #445668;
$green:   #50db8a;
$red:     #e74c3c;
$orange:  #e0b671;

.blue   { background: $blue }
.purple { background: $purple }
.navy   { background: $navy }
.green  { background: $green }
.red    { background: $red }
.orange { background: $orange }

h1 {
    font-family: Helvetica;
    text-align: center;
}

body {
    background: #ecf0f1; 
    padding: 15px;
}

table {
    font-family: Helvetica;
    color: #efefef;
  
    border: 2px solid gray;
    padding: 0;
    border-spacing: 0;
   
  
    tr {   
        background: #fff; 
    }
   
    th {
        padding: 1em; 
        width: 10em;
        border: 1px solid gray;
    }

    td {
        padding: 0.2em; 
        width: 10em;
        border: 1px solid gray;
    }
}

.dates {
    background: $navy;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
}

.hours {
    background: $navy;
    font-size: 0.7em;
    text-align: center;
    // vertical-align: text-top;
}

.btn {
    display: block;
    background-color: #d2dae2;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: $blue;
    border-radius: 8px;
}
.btn:disabled {
    background-color: #eeb6b6;
    cursor: not-allowed;
}
.btn--pause {
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px 40px;
    font-size: 16px;
    background-color: $orange;
    cursor: not-allowed;
}

.btn--clicked {
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px 40px;
    font-size: 16px;
    background-color: $green;
    cursor: pointer;
}
.btn--clicked:hover {
    background-color: #53926d;
    border-radius: 8px;
}